{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
    <h1>Mon Blog:</h1>
        <p>En construction</p>
        {#<pre>{{dump(tat)}}</pre>#}
       {{posts.title}}
Dur dur l'apprentissage du POO avec TWIG:(!!!!
{% endblock %}