{% extends "layouts.html.twig" %}

{% block contents %}
    <div class="container-fluid">
        <img src="../public/Images/Page404.jpg" class="rounded mx-auto d-block w-50" alt=""  opacity="0.5"></div>
        <div class="text-center text-white" >AAAAHHHHHHHH.....C'est le crash, la page demandée est introuvable!!!!</div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}